@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url("//use.fontawesome.com/releases/v5.6.1/css/all.css'");

body {
  margin: 0;
  background: #ececec;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(i) {
  font-family: 'Lexend Deca';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
